<div class="sidebar-item" id="about-me">
	<header>
		<h3>About Me</h3>
	</header>
	
	<div>
		<%- image_tag('/images/about_me.jpeg') %>
		<p>Name: 09boy</p>
		<p>Job: Front-end</p>
		<p>Age: 28</p>
		<p>Address: BeiJing</p>
		<p>Infomation:</p>
		<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</p>
	</div>
</div>